/* custom properties */

:root {
  /* De iconische basiskleuren */
  --ns-geel: #ffc917;
  --ns-blauw: #003082;
  --ns-lichtblauw: #00308210;

  /* Functionele kleuren (voor validatie en feedback) */
  --ns-groen-succes: #217c20;
  --ns-rood-fout: #d0021b;

  /* Neutrale tinten voor formulieren */
  --ns-wit: #ffffff;
  --ns-grijs-licht: #f2f2f2;
  --ns-grijs-midden: #999999;
  --ns-zwart: #333333;

  /* font weight */
  --text-font-weight: 200;
  --text-font-weight-fat: 600;

  /* border radius */

  --radius-border: 5px;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0 0 50px 0;
   background-color: var(--ns-geel);  
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

header img {
  width: 20px;
}

header h1 {
    padding: 10px 0;
  margin: 0;
  font-weight: var(--text-font-weight-fat);
  text-align: center;
  text-transform: uppercase;
}

header .warning-school-project {
  font-size: 10px;
background-color: red;
color: var(--ns-wit);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

header p {
  padding: 0 20px;
  padding: 0 20px;
}

#persoonlijke-gegevens img {
  width: 20px;
}

#persoonlijke-gegevens {
  font-size: 24px;
}

fieldset .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

fieldset input {
  height: 40px;
  border-radius: var(--radius-border);
  border: var(--ns-grijs-midden) solid 0.8px;
  padding-left: 20px;
}

fieldset label {
  color: var(--ns-blauw);
  font-weight: var(--text-font-weight-fat);
}

legend {
  gap: 10px;
  align-items: center;
  font-size: 25px;
}

legend img {
  width: 20px;
}

#burgelijke-staat img {
  width: 20px;
}

#burgelijke-staat {
  font-size: 24px;
}

fieldset p {
  font-weight: var(--text-font-weight-fat);
  color: var(--ns-blauw);
}

input[type="radio"] {
  accent-color: var(--ns-blauw); /* De klassieke Apple blauwe kleur */
}


/* stijling van uitklap bare functie  */
h3 {
  font-size: 14px;
  font-weight: var(--text-font-weight);
  color: var(--ns-blauw);
}

.fs-1c {
  display: none;
}

.fs-1d {
  display: none;
}


.fs-1b:has(#getrouwd_nee:checked) ~ .fs-1c,
.fs-1b:has(#huwelijkse_voorwaarden_nee:checked) ~ .fs-1c,
.fs-1b:has(#getrouwd_ja:checked) fieldset,
.fs-1c:has(#kinderen_ja:checked) fieldset,
.fs-1c:has(#kinderen_nee:checked) ~ .fs-1d,
.fs-1d:has(#testament_ja:checked) fieldset,
.fs-1c:has(input[name="kind_had_kinderen"]:checked) ~ .fs-1d {
  display: block;
}

.shown ~ fieldset:not(.shown) {
  display: none;
}

/* stijling van de formulieren  */


.fs-1a, 
.fs-1b, 
.fs-1c, 
.fs-1d {
    background-color: white;
border-radius: 20px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
  margin: 50px 20px;
  
}

.fs-1a div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.fs-1a input:focus {
  outline: none; /* Hiermee haal je de standaard browser-rand (geel/blauw) weg */
  border: var(--ns-blauw) 2px solid;
  background-color: var(--ns-lichtblauw);
}

#radio-btn-design div {
  border-radius: var(--radius-border);
  margin-bottom: 5px;
}


.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-group div {
  border: var(--ns-grijs-midden) solid 1px;
  align-items: center;
  display: flex;
  gap: 20px;

}

.radio-group div label{
  font-size: 14px;
}

.radio-group div input {
  margin-left: 20px;
}


/* input:not(::placeholder-shown) + label {

ook in html zetten een lege placeholder
} */