

.fs-1c {
  display: none;
}

.fs-1d {
  display: none;
}

.fs-1b:has(#getrouwd_nee:checked) ~ .fs-1c {
  display: block;
}

.fs-1b:has(#huwelijkse_voorwaarden_nee:checked) ~ .fs-1c {
  display: block;
}

.shown ~ fieldset:not(.shown) {
  display: none;
}

.fs-1b:has(#getrouwd_ja:checked) fieldset {
  display: block;
}

.fs-1c:has(#kinderen_ja:checked) fieldset {
  display: block;
}


.fs-1c:has(#kinderen_nee:checked) ~ .fs-1d {
  background-color: aqua;
  display: block;
}


.fs-1d:has(#testament_ja:checked) fieldset {
  display: block;
}


